html {
    height: 100%;
    min-height: 100%;
}/*Navbar section*/
#navbar { 
    display: grid;
    grid-template-columns: 50px 1fr 50px 75px 75px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about Store Gmail Images menu Sign-in"
    ;
}
a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif; 
}

a:hover {
    text-decoration: underline;
}

#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#Store {
    grid-area: Store;
    justify-self: flex-start;
    align-self: center;
    
}
#Gmail {
    grid-area: Gmail; 
    justify-self: center;
    align-self: center;
}
#Images {
    grid-area: Images;
    justify-self: center;
    align-self: center;
}
#menu {
    grid-area: menu; 
    justify-self: center;
    align-self: center;
}
#Sign-in {
    grid-area: Sign in;
    justify-self: center;
    align-self: center;
    color: #ffff; 
    background-color:rgb(26, 115, 232);
    border: 1px solid transparent;
    min-width: 96px; 
    font-size: 14px;
    text-align: center;
    margin-right: 8px; 
    padding: 9px 1px 9px 1px;
    border-radius: 5px;
    text-decoration: none;
}

/*Main section*/
#main {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 70px 70px 250px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". . .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search{
    height: 40px;
    display: grid;
    grid-area: search;
    align-self: center;
    justify-self: center;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    
}

#search:hover {
    box-shadow: 1px 1px 5px grey;
}

#flexbox {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}

#google-search-button {
    border: none;
    font-size: 15px;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin: 11px 6px;
    padding: 0 16px;
    height: 36px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#google-search-button:hover {
    box-shadow: 1px 1px 5px grey;
}

#im-feeling-lucky {
    border: none;
    font-size: 15px;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin: 11px 6px;
    padding: 0 16px;
    height: 36px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#im-feeling-lucky:hover {
    box-shadow: 1px 1px 5px grey;
}


/*Footer section*/
#footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    display: grid; 
    grid-template-columns: 100px 100px 150px 1fr 70px 70px 50px;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
    ". . . . . . ."
    "ads business hsw . privacy terms settings"
}

#ads {
    grid-area: ads;
    justify-self: center;
    align-self: center;
}

#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}

#hsw {
    grid-area: hsw;
    justify-self: center;
    align-self: center;
}

#privacy {
    grid-area: privacy;
    justify-self: flex-end;
    align-self: center;
}

#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}

#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}