html {
    height: 100%;
    min-height: 100%;
}/*Navbar section*/
#navbar { 
    display: grid;
    grid-template-columns: 50px 1fr 50px 75px 75px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about Store Gmail Images menu Sign-in"
    ;
}
a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif; 
}
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#Store {
    grid-area: Store;
    justify-self: flex-start;
    align-self: center;
    
}
#Gmail {
    grid-area: Gmail; 
    justify-self: center;
    align-self: center;
}
#Images {
    grid-area: Images;
    justify-self: center;
    align-self: center;
}
#menu {
    grid-area: menu; 
    justify-self: center;
    align-self: center;
}
#Sign-in {
    grid-area: Sign in;
    justify-self: center;
    align-self: center;
}
/*Main section*/
#main {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 70px 70px 250px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". . .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search{
    height: 40px;
    display: grid;
    grid-area: search;
    align-self: center;
}
#flexbox {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}

/*Footer section*/
#footer {
    display: grid; 
    grid-template-columns: 100px 100px 150px 1fr 100px 100px 100px;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
    ". . . . . . ."
    "ads business hsw . privacy terms settings"
}

#ads {
    grid-area: ads;
    justify-self: center;
    align-self: center;
}

#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}

#hsw {
    grid-area: hsw;
    justify-self: center;
    align-self: center;
}

#privacy {
    grid-area: privacy;
    justify-self: flex-end;
    align-self: center;
}

#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}

#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}